@import url("https://use.typekit.net/fjg0ajy.css"); /*From adobe fonts  */

#root {
  --blue: #23E2DD;
  --pink: #FFA1FF;
  margin: 0 auto;
}

/* *{
  box-sizing: border-box;
} */

body{
  margin: 0;
  width: 100%;
  background-color: white;
}

nav{
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main{
  margin: 8rem 0.5rem 2rem;
}

svg{
  height: 100%;
}

img{
  width: 100%
}

h1{
  font-family: sofia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2{
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  margin-block-end: 0;
}

h3{
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}

h4{
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
}

p{
  font-size: 0.85rem;
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a{
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
}

textarea{
  width: 100%;
  height: 5rem;
}

.pagePlaceHolder{
  width: 100%;
}

@media (min-Width: 768px) {
  main{
    margin-top: 11rem;
    margin-bottom: 4rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media (min-width: 1800px){
  #root{
    width: 1800px
  }
  nav{
    width: 1800px
  }
}

.contact{
  width: 100%;
  display: flex;
  flex-direction: column;
}



.contactImage{
  margin-top: 3rem;
}

.contactInfo{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  container-name: contactInfo;
}

.contactInfo h1{
  color: black;
  font-weight: 400;
  font-size: 1em;
}

.contactInfo h2{
  margin-block: 0;
  font-weight: 200;
  font-size: 0.8em;
}

@media (min-width: 375px){
  .contactInfo{
    font-size: 1.25rem;
  }
}

@media (min-width: 425px){
  .contactInfo{
    font-size: 1.4rem;
  }
}

@media (min-width: 768px){
  .contact{
    flex-direction: row-reverse;
    justify-content: left;
  }
  .contactImage{
    width: 50%;
  }
  .contactInfo{
    margin-left: 2rem;
    font-size: 1.2rem;
  }
}

.aboutTemp{
  max-width: 40%;
}
