.cls-1, .cls-2 {
  stroke-width: 0px;
}
  
.cls-2 {
  fill: #fff;
}

.navCluster{
  margin-right: -0.6rem;
  position: relative;
  height: 7em;
}

.cluster{
  position: relative;
  height: 8rem;
}

.cluster svg{
  height: 6rem;
}

.puzzleWrapper{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

.NavPieceInfo{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  z-index: 0;
  display: grid;
  grid-template-rows: 1.05fr 1.1fr 1.2fr;
}

.placeHolder{
  
}

.NavPieceTitle{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2em;
}

.NavPieceSubTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1em;
  color: var(--blue)
}

.piece{
  height: 100%;
}

.color0{
  fill: var(--blue);
}

.color1{
  fill:black;
}

.color2{
  fill:var(--pink);
}

.color3{
  fill: white;
}