.logoWrapper{
    display: flex;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    height: 2.5rem;
    gap: 0.5rem;
    text-decoration: none;
    z-index: 10;
}

.myLogo{
    display: flex;
    height: 100%;
}

.logoName{
    width: 4rem;
    display: flex;
    align-items: end;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
    color: black;
    line-height: 0.9em;
}

@media (min-Width: 768px) {
    .logoWrapper{
        margin-top: 2.5rem;
        margin-left: 2.5rem;
    }
  }