.sections{
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: solid black 2px;
}

.section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.verticalSection{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sectionImage{
    width: 100%;
}

.sectionInfo{
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.sectionInfo h2{
    font-weight: 700;
    margin-block-end: 0;
}

.sectionInfo p{
    margin-block-start: 0;
}

.sectionGrid{
    width: 100%;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(17rem, 1fr));
}

@media (min-width: 1024px){
    .section{
        flex-direction: row;
        gap: 1rem;
    }
    .sectionInfo{
        max-width: 20rem;
    }
    .sectionImage{
        flex-shrink: 1;
    }
    
}